version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: deepak12345
      MYSQL_DATABASE: company_db
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
